@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Custom theme colors */
  --color-light-bg: #F4F5F7;
  --color-dark-bg: #1F2933;
  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;
  --color-accent: #10B981;
  --color-text-dark: #111827;
  --color-text-light: #E5E7EB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html { scroll-behavior: smooth; }
